/*config texto*/

body {
    font-family: Arial, sans-serif;
}

a {
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: verdana;
}

p {
    color: black;
    font-size: 12px;
}


/*Coloração*/

body {
    background-color: #ccc;
}

p {
    background-color: white;
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    background-color: brown;
    padding: 20px;
}


/*MENU*/

nav {
    display: inline;
}

nav div {
    padding-top: 1px;
    padding-bottom: 40px;
    background-color: green;
}

nav a img {
    float: left;
    padding-left: 30px;
}

nav ul a {
    float: right;
    font-family: verdana;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 40px;
}

nav ul a:active {
    color: black;
}

nav ul a:hover {
    color: black;
}

nav ul a :visited {
    color: white;
}


/*pagina slide show*/

#main {
    max-width: 800px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}


/*RODAPE*/

footer {
    color: white;
    font-size: 16px;
    text-align: center;
}

footer h3 {
    padding: 20px 50px 20px 50px;
    background-color: black;
}